:root {
    --cor-principal-escura: #103D4F;
    --cor-principal-media: #29A0CF;
    --cor-principal-media-sec: #207A9E;
    --cor-principal-clara: #B0D8E8;

    --cor-neutra-escura: #202020;
    --cor-neutra-media: #808080;
    --cor-neutra-clara: #F0F0F0;
    --cor-neutra-alternativa: #565656;

    --fonte-padrao: "Source Sans Pro", sans-serif;
    --fonte-marca: "Kanit", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--cor-neutra-clara);
    color: var(--cor-neutra-escura);
    font-family: var(--fonte-padrao);
}

.cabecalho {
    background-color: var(--cor-principal-media-sec);
}

.cabecalho-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

.cabecalho-marca {
    font-size: 2rem;
    font-family: var(--fonte-marca);
    font-weight: 300;
}

.cabecalho-marca-link {
    color: var(--cor-neutra-clara);
    text-decoration: none;
}

.cabecalho-marca-at {
    font-weight: 400;
    color: var(--cor-principal-clara)
}

/* .cabecalho-menu {
    padding: 1rem;
} */

.cabecalho-menu-lista {
    display: flex;
}

.cabecalho-menu-link {
    color: var(--cor-principal-clara);
    font-size: 1.125rem;
    text-decoration: none;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: 0.5s;
}

.cabecalho-menu-link:hover {
    color: var(--cor-principal-media);
    background-color: var(--cor-principal-escura);
}

.secao {
    min-height: calc(100vh - 64px);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 5rem;
}

.secao:first-child {
    background-color: var(--cor-neutra-escura);
    display: flex;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-top: 0;
}

.secao:last-child {
    background-color: var(--cor-principal-clara);
}

.secao-titulo {
    color: var(--cor-principal-media-sec);
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    font-weight: 600;
}

.secao-subtitulo {
    color: var(--cor-neutra-media);
    font-size: 1.25rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    font-weight: 600;
}

.secao-inicio {
    display: grid;
    grid-template-columns: 2;
    gap: 3rem;
    align-items: center;
}

.secao-inicio-imagem {
    width: 360px;
    height: 360px;
    background-color: lime;
    opacity: 50%;
    border-radius: 50%;
}

.secao-inicio-conteudo {
    grid-column: 2;
}

.secao-inicio-titulo {
    color: var(--cor-principal-media);
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.secao-inicio-texto {
    color: var(--cor-neutra-clara);
    line-height: 1.5rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.secao-formacao, .secao-cursos, .secao-experiencia {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0.5rem;
}

.secao-exemplos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0.5rem;
}

.secao-contato {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.secao-titulo,
.secao-descricao,
.secao-subtitulo {
    grid-column: span 4;
}

.secao-descricao {
    font-size: 1.125rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5rem;
}

.cartao {
    border: 1px solid var(--cor-principal-media);
    border-radius: 0.4rem;
    padding: 0.75rem;
}

.cartao-titulo {
    color: var(--cor-principal-media);
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 0.75rem;
}

.cartao-subtitulo {
    color: var(--cor-neutra-media);
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.cartao-texto {
    padding-bottom: 0.75rem;
    text-align: justify;
    line-height: 1.2rem;
}

.cartao-lista {
    list-style: square;
    padding-left: 1rem;
}

.cartao-info {
    font-weight: 600;
    color: var(--cor-neutra-alternativa);
}

.cartao-botao {
    background-color: var(--cor-principal-media);
    color: var(--cor-neutra-clara);
    text-decoration: none;
    font-size: 1.125rem;
    display: block;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.5s;
}

.cartao-botao:hover {
    background-color: var(--cor-principal-media-sec);
}

.cartao-contato {
    background-image: linear-gradient(var(--cor-principal-media), var(--cor-principal-clara) 50%);
    padding: 2.5rem;
    font-size: 1.125rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.cartao-contato-titulo {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--cor-principal-escura);
    padding-bottom: 0.75rem;
}

.cartao-contato-link {
    text-decoration: none;
    color: var(--cor-principal-escura);
}

.cartao-contato-botao {
    border: 2px solid var(--cor-principal-escura);
    margin: 0.5rem 0;
    padding: 1rem;
    color: var(--cor-principal-escura);
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.cartao-contato-botao:hover {
    background-color: var(--cor-principal-escura);
    color: var(--cor-principal-clara)
}

.embreve {
    background-color: var(--cor-neutra-media);
    color: var(--cor-neutra-clara);
    font-size: 0.75rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.emandamento {
    background-color: var(--cor-principal-media);
    color: var(--cor-neutra-clara);
    font-size: 0.75rem;
    padding: 0.2rem;
    border-radius: 0.125rem;
}

.rodape {
    background-color: var(--cor-principal-media-sec);
}

.rodape-conteudo {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    color: var(--cor-principal-clara);
}

.rodape-data {
    font-weight: 300;
}

.rodape-desenvolvedor {
    font-size: 1.125rem;
    padding-bottom: 0.5rem;
}