:root {
    --cor-principal-escura: #103D4F;
    --cor-principal-media: #29A0CF;
    --cor-principal-media-sec: #207A9E;
    --cor-principal-clara: #B0D8E8;

    --cor-neutra-escura: #202020;
    --cor-neutra-media: #808080;
    --cor-neutra-clara: #F0F0F0;
    --cor-neutra-alternativa: #565656;

    --fonte-padrao: "Source Sans Pro", sans-serif;
    --fonte-marca: "Kanit", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--cor-neutra-clara);
    color: var(--cor-neutra-escura);
    font-family: var(--fonte-padrao);
}

.cabecalho {
    background-color: var(--cor-principal-media-sec);
}

.cabecalho-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

.cabecalho-marca {
    font-size: 2rem;
    font-family: var(--fonte-marca);
    font-weight: 300;
}

.cabecalho-marca-link {
    color: var(--cor-neutra-clara);
    text-decoration: none;
}

.cabecalho-marca-at {
    font-weight: 400;
    color: var(--cor-principal-clara)
}

.cabecalho-menu {
    /* padding: 1rem; */
}

.cabecalho-menu-lista {
    display: flex;
}

.cabecalho-menu-link {
    color: var(--cor-principal-clara);
    font-size: 1.125rem;
    text-decoration: none;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: 0.5s;
}

.cabecalho-menu-link:hover {
    color: var(--cor-principal-media);
    background-color: var(--cor-principal-escura);
}

.secao {
    min-height: calc(100vh - 64px);
    padding-left: 1rem;
    padding-right: 1rem;
}

.secao:first-child {
    background-color: var(--cor-neutra-escura);
    display: flex;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
}

.secao-titulo {
    color: var(--cor-principal-media-sec);
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    font-weight: 600;
}

.secao-inicio {
    display: grid;
    grid-template-columns: 2;
    grid-gap: 3rem;
    align-items: center;
}

.secao-inicio-imagem {
    width: 360px;
    height: 360px;
    background-color: lime;
    border-radius: 50%;
}

.secao-inicio-conteudo {
    grid-column: 2;
}

.secao-inicio-titulo {
    color: var(--cor-principal-media);
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.secao-inicio-texto {
    color: var(--cor-neutra-clara);
    line-height: 1.5rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.secao-formacao {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 0.5rem;
}

.secao-formacao .secao-titulo {
    grid-column: span 4;
}

.cartao {
    border: 1px solid var(--cor-principal-media);
    border-radius: 0.4rem;
    padding: 0.75rem;
}

.cartao-titulo {
    color: var(--cor-principal-media);
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 0.75rem;
}

.cartao-subtitulo {
    color: var(--cor-neutra-media);
    font-size: 1.125rem;
    font-weight: 600;
    padding-bottom: 1rem;
}